<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li> <%= "#{bookmark.movie.title} - #{bookmark.comment}" %> </li>
    <%= link_to "DELETE", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
  <% end %>
</ul>

<p>
  <%= link_to "Back to Home", lists_path %>
  <%= link_to "Add a movie", new_list_bookmark_path(@list) %>
</p>
